:root {
  --bg-color: #000000;
  --text-color: #fefeff;
  --accent-color: #ff7a57;
  --secondary-accent: #fee093;
  --font-main: "Inter", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header and Navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: relative;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--accent-color);
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin-top: 0;
  margin-right: 40;
  padding: 0;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 800;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}

/* Buttons */
.btn {
  font-weight: bold;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 10px 20px;
  border: 0.5px solid var(--text-color);
  transition: all 0.18s ease;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
}

.btn:hover {
  color: var(--text-color);
  background-color: var(--accent-color);
  border-color: transparent;
}
.social-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--bg-color);
  border-radius: 50%;
  transition: all 0.18s ease;
}
.social-icon:hover {
  background-color: var(--accent-color);
  border-color: transparent;
}

.social-icon svg {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
}
.btn svg {
  stroke: var(--text-color);
  width: 20px;
  height: 20px;
  transition: all 0.18s ease;
}

.btn:hover svg {
  transform: translateY(-2px); /* Slight upward movement on hover */
}

/* Hero Section */
main {
  flex: 1;
}

.hero {
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 180px); /* Adjust based on header and footer height */
}

.hero h1 {
  font-size: 6.854rem;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 4.236rem;
  opacity: 0.6;
  margin-bottom: 4px;
}

.hero h3 {
  font-size: 3.157rem;
  opacity: 0.6;
  margin-bottom: 28px;
}
.hero h5 {
  font-size: 1.777rem;
  opacity: 0.6;
  margin-bottom: 28px;
  margin-top: 0;
  max-width: 600px;
}

.hero p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 30px;
}

.about {
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 500px);
  padding: 50px 0;
}
.about h3 {
  font-size: 3.157rem;
  margin-bottom: 28px;
}

.about p {
  font-weight: 600;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 30px;
}

/* Footer */
footer {
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 5.61rem;
  }
  .hero h2 {
    font-size: 4.209rem;
  }
  .hero h3 {
    font-size: 3.157rem;
  }
  .about h3 {
    font-size: 3.157rem;
  }
  .hero h4 {
    font-size: 2.369rem;
  }
  .hero h5 {
    font-size: 1.777rem;
  }
  .hero h6 {
    font-size: 1.333rem;
  }

  .about p {
    font-size: 1rem;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-links {
    margin-bottom: 30px;
  }
}
